@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@theme {
  --font-display: "Montserrat", sans-serif;
}
@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: black;
    overflow-x: hidden;
  }
}
